.spotlight--img, .p_img--big{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.p__price_cents.spotlight-02-txt{
    color: #5cb1b5;
}
.img-gallery-grid > a{
    background-size: contain;
}
