.spotlight--img, .p_img--big{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.p__price_cents.spotlight-02-txt{
    color: #5cb1b5;
}
.img-gallery-grid > a{
    background-size: contain;
}
/*@media screen and (min-width: 992px){*/
/*    .img-share--wrapper{*/
/*        display: none;*/
/*    }*/
/*}*/
/*.categories:hover > .ctg__menu{*/
/*    display: block;*/
/*    opacity: 1;*/
/*}*/
/** Fix overflow */
.section__wrapper{
    overflow-x: hidden;
}
.arrow-wrapper, .product-wrapper, .spotlight .sub-category, .spotlight .spotlight--img, .spotlight .spotlight__container{
    pointer-events: none;
}
.arrows-wrapper{
    pointer-events: all;
}
html{
    overflow-x: hidden;
}
.product, .spotlight{
    cursor: pointer;
}
.sub-category{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0.5em;
}
.detail__container{
    margin: auto;
}

